<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher_png" android:roundIcon="@drawable/ic_launcher_png" android:resizeableActivity="true" android:usesCleartextTraffic="true">
        <activity android:name=".SettingsActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".CashPilotWidget" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ua.cashpilot.PREV_MONTH" />
                <action android:name="ua.cashpilot.NEXT_MONTH" />
                <action android:name="ua.cashpilot.RESET" />
                <action android:name="ua.cashpilot.TOGGLE_DAY" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/cashpilot_widget_info" />
        </receiver>
    </application>
</manifest>
